# Target: ESP32 (ATOM Echo = ESP32-PICO-D4)
CONFIG_IDF_TARGET="esp32"

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y

# WiFi
CONFIG_ESP_WIFI_ENABLED=y

# UART
CONFIG_ESP_CONSOLE_UART_DEFAULT=y

# NVS
CONFIG_NVS_ENABLED=y

# Log level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
